<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">홈</router-link> 
      <router-link v-show="getSession" to="/active">액티브</router-link> 
      <router-link v-show="getSession" to="/passive">패시브</router-link> 
      <!--<router-link v-show="getSession" to="/log">로그</router-link> -->
      <router-link to="/about">자세히</router-link> 
      <a v-show="getSession" v-on:click="resetSession" style="cursor:pointer;">로그아웃</a>
    </div>
    <router-view :key="Date.now()"/>
  </div>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    resetSession() {
      this.$store.dispatch(`resetSession`);
    }
  },
  computed: {
    getSession() {
      return this.$store.getters.getSession;
    }
  }
}
</script>



<style lang="scss">
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;    
    .styled-checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it

      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }

      // Box.
      & + label:before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        margin-bottom: 4px;
      }

      // Box hover
      &:hover + label:before {
        background: #b5abe6 !important;
      }
      
      // Box focus
      &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }

      // Box checked
      &:checked + label:before {
        background: #7e6cda;
      }
      
      // Disabled state label.
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }

      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: #b5abe6;
      }

      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
    .active-manage, .passive-manage, .about {      
      text-align: center;    
      tr,td {
        border: none;
      }      
      tr:nth-child(even) {
        background-color: #ddd;
      }
      tr:nth-child(odd) {
        background-color: #cfcfcf;
      }      
      select {
        border: #aaa 2px solid;
        padding: 1px;
        margin-bottom: 4px;
      }
      table {
        margin:auto;
        margin-bottom: 20px;
        border:black 1px solid;
        border-collapse:collapse;
        width:100%;
        &.active-show {
          margin-bottom: 100px;
        }        
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
        ul.sel {          
            padding-inline-start: 0;
            text-align: left;
            list-style-type: none;
        }
      }
    }
    a {
      &.mdf-button {        
        padding: 2px;
        color: whitesmoke;
        cursor: pointer;
      }
      &.del {
        background-color: #df7e7e;
      }
      &.add {
        background-color: #87b3d6;       
      }
      &.save {
        background-color: #b5abe6;
        padding: 9px 16px 9px;
        font-weight: bold;
      }      
      &.del:hover {
        background-color: #da3131;
      }
      &.add:hover {      
        background-color: #3493e0;   
      }
      &.save:hover {
        background-color: #7e6cda;
      }
    }
  }

  #nav {
    padding: 30px;
    a {
      margin: 4px;
      font-weight: bold;
      color: #2c3e50;
      text-decoration: none;
      padding: 4px;
      border-radius: 7px;

      &.router-link-exact-active, &.router-link-exact-active:hover {
        color: #fff;
        background-color: #7e6cda;
      }
      &:hover {
        background-color: #b5abe6;
      }
    }
    
  }
</style>