<template>
  <div class="about">
    <h1>나초봇의 활동 정보가 표시됩니다.</h1>
    <h3>수동 활동</h3>
    <table class="active-show">
      <tr>
        <th style="width:4%;">#</th>
        <th style="width:4%;min-width:50px;">활성화</th>
        <th style="width:10%;min-width:55px;">플랫폼</th>
        <th style="width:21%;">조건/행위</th>
        <th style="width:8%;">쿨 타임</th>
        <th style="width:8%;min-width:85px;">대상</th>
      </tr>      
      <tr v-if="conditions.active.length<1">
        <td colspan="6">작용된 규칙이 없습니다.</td>
      </tr>
      <tr v-else v-for="(item, index) in conditions.active" :key="item.id">
        <td>
          {{index+1}}
        </td>
        <td>{{item.active}}</td>
        <td  class="th-platform">
          {{platformAppender(item.platform)}}
        </td>
        <td>
          <span v-if="item.platform < 2">슈퍼챗&nbsp;{{item.detail.superchat ? `포함` : `미포함`}},&nbsp;</span> 
          <span>{{item.detail.condition.type > 1 ? `닉네임이 `: `채팅 내용이 `}}</span>
          <span v-if="item.detail.condition.caseSensitive">대소문자 구별 </span>
          <span>"{{item.detail.condition.text}}"{{item.detail.condition.type % 2 == 1 ? `을(를) 포함한다면 ` : `와(과) 일치한다면 `}}</span>             
        <br>
          <span v-if="item.detail.action.type == '0'">
            {{item.detail.action.chat2 == '1' ? `채팅이왔던 플랫폼으로 `: item.detail.action.chat2 == '2' ? `반대쪽 플랫폼으로 ` : item.detail.action.chat2 == '3' ? `양쪽 플랫폼으로 ` : ``}}
            채팅: "{{item.detail.action.text}}"
          </span>
          <span v-else-if="item.detail.action.type == '1'">
            채팅을 삭제
          </span>
          <span v-else-if="item.detail.action.type == '2'">
            {{item.detail.action.timeout.permanent ? `영구 ` : `${item.detail.action.timeout.temporary} 분`}} 채팅 금지
          </span>
          <span v-else-if="item.detail.action.type == '3'">
            추방
          </span>
        </td>
        <td>
          {{item.detail.cool}}초
        </td>
        <td>
          <ul class="sel">
            <li v-for="(pm, idx) in permissionAppender(item.detail.permission)" :key="`${item.id}-${idx}`">
              {{pm}}
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <h3>자동 활동</h3>
    <table class="passive-show">
      <tr>
        <th style="width:4%;">#</th>
        <th style="width:4%;min-width:50px;">활성화</th>
        <th style="width:10%;min-width:55px;">플랫폼</th>
        <th style="width:10%;">발동 주기</th>
        <th style="width:72%;">채팅 내용</th>
      </tr>      
      <tr v-if="conditions.passive.length<1">
        <td colspan="7">작용된 규칙이 없습니다.</td>
      </tr>
      <tr v-else v-for="(item, index) in conditions.passive" :key="item.id">
        <td>
          {{index+1}}
        </td>
        <td>{{conditions.passive[index].active}}</td>
        <td class="th-platform">
          {{platformAppender(conditions.passive[index].platform)}}
        </td>
        <td>
          {{conditions.passive[index].detail.period}}초       
        </td>
        <td>
          채팅: {{conditions.passive[index].detail.action}}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'About',
  data() {
    return {
      conditions:{
        active: [],
        passive: []
      },
      err: ''
    }
  },
  mounted() {
    axios.get(`/api/about`)
      .then(_ => {
        if(_.data) {
          this.conditions = _.data.conditions;
        }
        else this.err = `알 수 없는 오류입니다. x_X`;
      })
      .catch(_ => this.err = `알 수 없는 오류입니다. x_X`);
  },
  methods: {
    platformAppender(pf) {
      const str = [];
      if(pf&1) str.push(`트위치`);
      if(pf&2) str.push(`유튜브`);
      return str.join('\n');;

    },
    permissionAppender(pm) {
      pm = pm.reduce((a,b)=>Number(a)+Number(b));
      const str = [];
      if(pm&1) str.push(`일반 시청자`);
      if(pm&2) str.push(`모더레이터`);
      if(pm&4) str.push(`나초`);
      return str
    }
  },
  computed: {
    getSession() {
      return this.$store.getters.getSession;
    }
  }
}
</script>

<style lang="scss" scoped>
  td.th-platform {
    white-space: pre-line;
  }
</style>