<template>
  <div class="active-manage">
      <div>
        <h3>
          수동 활동 관리자
        </h3>
        <table class="config">
          <tr>
            <th style="width:4%;min-width:39px;">#</th>
            <th style="width:4%">규칙 공개</th>
            <th style="width:4%">활성화</th>
            <th style="width:6.5%">플랫폼</th>
            <th style="width:21%">발동 조건</th>
            <th style="width:45%">발동 행위</th>
            <th style="width:7.5%">쿨 타임</th>
            <th style="width:8%">대상</th>
          </tr>
          <tr v-for="(item, index) in rules" :key="item.id">
            <td v-if="index==0">
              <a class="mdf-button add" v-on:click="addRule">
                추가
              </a>
            </td>
            <td v-else>              
              <a class="mdf-button del" v-on:click="removeRule(index)">
                삭제
              </a>
            </td>
            <td><input v-model="rules[index].public" type="checkbox" name="condition-public" class="styled-checkbox" :id="`ch${index*8}`"><label :for="`ch${index*8}`"></label></td>
            <td><input v-model="rules[index].active" type="checkbox" name="condition-active" class="styled-checkbox" :id="`ch${index*8+1}`"><label :for="`ch${index*8+1}`"></label></td>
            <td>
              <select v-on:change="adderUpdated(index)" v-model="rules[index].platform" name="condition-platform">
                <option value="1">트위치</option>
                <option value="2">유튜브</option>
                <option value="3">유튜브/트위치</option>
              </select>
            </td>
            <td>
              <input v-show="rules[index].detail.condition.type<2" v-model="rules[index].detail.superchat" type="checkbox" name="condition-superchat" :disabled="rules[index].platform==1" class="styled-checkbox" :id="`ch${index*8+2}`">
              <label v-show="rules[index].detail.condition.type<2" :for="`ch${index*8+2}`">슈퍼&nbsp;</label>
              <select v-model="rules[index].detail.condition.type" name="condition-type">
                <option value="0">채팅과 일치</option>
                <option value="1">채팅에 포함</option>
                <option value="2">닉네임과 일치</option>
                <option value="3">닉네임에 포함</option>
              </select>
              <br>
              <input v-model="rules[index].detail.condition.caseSensitive" type="checkbox" name="action-condition-case-senstive" class="styled-checkbox" :id="`ch${index*8+3}`" :disabled="!(/^.*[a-zA-Z].*$/.test(rules[index].detail.condition.text))">
              <label :for="`ch${index*8+3}`">대소문자 구별&nbsp;</label>
              <br v-show="rules[index].detail.condition.type>1">
              <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.condition.text" type="text" name="condition-text" style="width:50%;">
            </td>
            <td>
              <input v-on:change="adderUpdated(index)" v-show="rules[index].detail.action.type == '2'" v-model="rules[index].detail.action.timeout.permanent" type="checkbox" name="action-timeout-permanent" class="styled-checkbox" :id="`ch${index*8+4}`" :disabled="(rules[index].platform&1)==1">
              <label v-show="rules[index].detail.action.type == '2'" :for="`ch${index*8+4}`">영구&nbsp;</label>
              <select v-on:change="adderUpdated(index)" v-model="rules[index].detail.action.type" name="action-type">
                <option value="0">채팅</option>
                <option value="1">삭제</option>
                <option value="2">채팅 금지</option>
                <option value="3" :disabled="rules[index].platform!=1">밴</option>
              </select><br v-show="rules[index].detail.action.type == '2'">
              <select v-show="rules[index].detail.action.type == '0'" v-model="rules[index].detail.action.chat2" name="action-toward">
                <option value="1">채팅이왔던 플랫폼으로</option>
                <option value="2">반대쪽 플랫폼으로</option>
                <option value="3">양쪽 플랫폼으로</option>
              </select><br v-show="rules[index].detail.action.type == '0'">
              <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.action.text" v-show="rules[index].detail.action.type == '0'" type="text" name="action-text" style="display:table-cell; width:90%">
              <input v-on:change="adderUpdated(index)" v-show="rules[index].detail.action.type == '2'" v-model="rules[index].detail.action.timeout.temporary" type="number" name="action-timeout-temporary" :disabled="rules[index].detail.action.timeout.permanent" style="width:50%;">
              <span v-show="rules[index].detail.action.type == '2'">분</span>
              
            </td>
            <td>
              <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.cool" type="number" name="action-cool" style="width:50%;">초
            </td>
            <td>      
              <ul class="sel">
                <li>
                  <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.permission" type="checkbox" name="condition-permission-general" class="styled-checkbox" :id="`ch${index*8+5}`" value="1" :disabled="rules[index].detail.permission.reduce((a,b)=>Number(a)+Number(b)) == 1">
                  <label :for="`ch${index*8+5}`">일반 사용자&nbsp;</label>                
                </li>
                <li>
                  <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.permission" type="checkbox" name="condition-permission-moderators" class="styled-checkbox" :id="`ch${index*8+6}`" :disabled="rules[index].detail.action.type != 0" value="2">
                  <label :for="`ch${index*8+6}`">모더레이터&nbsp;</label>
                </li>
                <li>
                  <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.permission" type="checkbox" name="condition-permission-nacho" class="styled-checkbox" :id="`ch${index*8+7}`" :disabled="rules[index].detail.action.type != 0" value="4">
                  <label :for="`ch${index*8+7}`">나초&nbsp;</label>
                </li>
              </ul>        
            </td>
          </tr>
          <tr v-if="rules.length<2">
            <td colspan="8">저장된 규칙이 없습니다.</td>
          </tr>
        </table>
        <a v-on:click="submitter" class="mdf-button save">저장</a>
      </div>
      <h5 v-show="err">{{err}}</h5>
  </div>
</template>

<script>
import axios from 'axios'
import uuid from 'uuid/v4'

export default {
  name: 'Active',
  data() {
    return {
      rules: [],
      err: null,
      newRule: {
        active: true,
        public: true,
        platform: '3',
        id: '',
        type:'active',
        detail: {
          superchat: false,
          condition: {
            text: '명령어',
            type: '0',
            caseSensitive: false
          },
          action: {
            type:'0',
            text: 'Hello!',
            timeout: {
              permanent: false,
              temporary: 10
            },
            chat2: '1'
          },
          cool: 0,
          permission: ['1','2','4']
        },
        lastCall: 0
      }
    }
  },
  methods: {
    submitter: function() {
      axios.post('/api/active/set', {ssid: this.getSession,rules: this.rules.slice(1)})
      .then(_ => this.err = _.data.success)
      .catch(_ => {
        if(_.response && _.response.status === 401)
          this.resetSession();
        
        else this.err = `알 수 없는 오류입니다. x_X`;
      });
    },
    resetSession() {
      this.$store.dispatch(`resetSession`);
    },
    adderUpdated(index) {
      const referedRule = (index == null) ? this.newRule : this.rules[index]; 

      ///////warning
      this.err = ``;
      if(referedRule.platform&1 && referedRule.detail.superchat) {
        this.err += `트위치는 수퍼챗을 지원하지 않습니다.\n`;
      }
      if(referedRule.detail.condition.text.length == 0 && referedRule.detail.condition.type&1)
        this.err += `조건이 공백/포함이라면 모든 ${referedRule.detail.superchat ? `슈퍼 ` : ``}채팅에 반응합니다.\n`;
      if(referedRule.detail.action.text.length > 200) {
        if(referedRule.platform&2)
          this.err += `200자를 초과하는 채팅은 유튜브에 표시되지 않을 수 있습니다.\n`;
        else if(referedRule.detail.action.text.length > 500)
          this.err += `500자를 초과하는 채팅은 모든 플랫폼에 표시되지 않을 수 있습니다.\n`;
      }
      if(referedRule.platform&1 && referedRule.detail.action.timeout.permanent) {
        this.err += `트위치는 영구 채팅 금지를 지원하지 않습니다.\n`;
      }
      if(referedRule.detail.action.type == '3' && referedRule.platform == 3) {
        this.err += `유튜브는 밴을 지원하지 않습니다.\n`;
      }      
      ///////critical
      if(referedRule.detail.permission.length == 0){
        referedRule.detail.permission.push('1');
        return this.err = `사용자 그룹이 꼭 선택되어야 합니다.`;
      }
      else if(referedRule.detail.action.type == '2' && referedRule.detail.permission.reduce((a,b)=>Number(a)+Number(b)) != 1) {
        referedRule.detail.permission = ['1'];
        return this.err = `봇은 일반 사용자를 대상으로만 채팅 금지 권한이 주어집니다.`;
      }
      else if(referedRule.detail.action.type == '1' && referedRule.detail.permission.reduce((a,b)=>Number(a)+Number(b)) != 1) {
        referedRule.detail.permission = ['1'];
        return this.err = `봇은 일반 사용자를 대상으로만 삭제 권한이 주어집니다.`;
      }      
      else if(referedRule.detail.action.type == '3' && referedRule.detail.permission.reduce((a,b)=>Number(a)+Number(b)) != 1 && referedRule.platform == 1) {
        referedRule.detail.permission = ['1'];
        return this.err = `봇은 일반 사용자를 대상으로만 밴 권한이 주어집니다.`;
      }
      else if(referedRule.platform&1 && referedRule.detail.action.timeout.permanent) {
        referedRule.detail.action.timeout.permanent = false;
        return this.err = `트위치는 영구 채팅 금지를 지원하지 않습니다.`;
      }
      else if(referedRule.detail.action.type == '0' && 
        referedRule.detail.action.text.length == 0) {
          referedRule.detail.action.text = `Hello!`;
          return this.err = `채팅시 공백은 송출할 수 없습니다.`;
      }
      else if(referedRule.detail.action.type == '2' && !referedRule.detail.action.timeout.permanent && (isNaN(referedRule.detail.action.timeout.temporary) || referedRule.detail.action.timeout.temporary < 0)){
        referedRule.detail.action.timeout.temporary = 10;
        return this.err = `영구 채팅 금지가 아니라면 올바른 시간을 입력해 주세요`;
      }
      else if(referedRule.detail.action.type == '3' && referedRule.platform != '1') {
        referedRule.detail.action.type = 0;
        return this.err = `유튜브는 밴을 지원하지 않습니다.`;
      }      
      else if(isNaN(referedRule.detail.cool) || referedRule.detail.cool <0) {
        referedRule.detail.cool = 0;
        return this.err = `0초 이상의 쿨타임을 임력해주세요.`;
      }
    },
    addRule() {
      this.rules.push(this.rules.shift());
      this.newRule.id = uuid();
      this.rules.unshift(JSON.parse(JSON.stringify(this.newRule)));
    },
    removeRule(index) {
      this.rules.splice(index, 1);
    }
  },
  computed: {
    getSession() {
      return this.$store.getters.getSession;
    }
  },
  beforeMount() {
    if(!this.getSession) this.$router.push({path: `/`});
    this.rules = [];
    this.newRule.id = uuid();
    this.rules.push(JSON.parse(JSON.stringify(this.newRule)));
    axios.post(`/api/active/get`, {ssid: this.getSession})
      .then(_ => {
        this.rules = this.rules.concat(_.data);
      })
      .catch(_ => {
        if(_.response && _.response.status === 401)
          this.resetSession();
        
        else {
          this.err = `알 수 없는 오류입니다. x_X`;
        }
      });
  }
}
</script>

<style lang="scss" scoped>
  
</style>