<template>
  <div class="home">
    <img alt="logo" src="../assets/main.gif" style="width:30vw;height:auto;">
      <div v-if="!getSession">
        <h4>관리자 비밀번호가 필요합니다.</h4>
        <input v-model="passkey"  v-on:keyup.enter="enterKeyDown" type="password" name="passkey" class="passkey" placeholder="비밀번호">
        <button class="passbutt" v-on:click="verifyNSend">인증</button>
      </div>
      <div v-else>
        <h3>
          환영합니다!
        </h3>
        <button v-on:click="toggelYoutube" class="join youtube">유튜브 연결<span v-show="connected.youtube">&nbsp; 해제</span></button>
        <button v-on:click="toggelTwitch" class="join twitch">트위치 연결<span v-show="connected.twitch">&nbsp; 해제</span></button>
        <button v-on:click="joinAll" class="join all">동시 연결<span v-show="connected.twitch && connected.youtube">&nbsp; 해제</span></button>
      </div>
      <h5 v-show="err">{{err}}</h5>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',
  data() {
    return {
      passkey: '',
      err: null,
      connected: {
        youtube: false,
        twitch: false
      }
    }
  },
  methods: {
    enterKeyDown: function() {
        this.verifyNSend();
    },
    verifyNSend: function() { 
      axios.post('/api/verify', {key: this.passkey})
      .then(_=>{
        if(_.data.ssid) 
          this.err = null,
          this.passkey='',
          this.$store.commit('setSession', _.data.ssid),
          this.connected.youtube = _.data.status.youtube,
          this.connected.twitch = _.data.status.twitch;
        
        else 
          this.err = _.data.err ? _.data.err : '알 수 없는 오류입니다. x_X'; 
        
      })
      .catch(_=>{
        this.err = (_.response && _.response.status === 401) ? 
        _.response.data.err : 
        '알 수 없는 오류입니다. x_X';
      });
    },
    toggelTwitch: async function() {
      axios.post(`/api/join/twitch/${this.connected.twitch ? `part` : `join`}`, {ssid: this.getSession})
      .then(_=>{
        if(_.data.status)
          this.connected.twitch = _.data.status.twitch;
      });
    },
    toggelYoutube: async function() {
      axios.post(`/api/join/youtube/${this.connected.youtube ? `part` : `join`}`, {ssid: this.getSession})
      .then(_=>{
        if(_.data.status)
          this.connected.youtube = _.data.status.youtube;
      });
    },
    joinAll: async function() {
      axios.post(`/api/join/all/${this.connected.twitch && this.connected.youtube ? `part` : `join`}`, {ssid: this.getSession})
      .then(_=>{
        if(_.data.status)
          this.connected.youtube = _.data.status.youtube,
          this.connected.twitch = _.data.status.twitch;
      });
    },
    resetSession() {
      this.$store.dispatch(`resetSession`);
    }
  },
  computed: {
    getSession() {
      return this.$store.getters.getSession;
    }
  },
  mounted() {
    if(!this.getSession) return;
    axios.post(`/api/home`, {ssid: this.getSession})
      .then(_=>{
        if(_.data.status)
          this.connected.youtube = _.data.status.youtube,
          this.connected.twitch = _.data.status.twitch;
      })
      .catch(_=> {
        if(_.status==401) this.resetSession();
        else this.err = `알 수 없는 오류입니다. x_X`;
      });
  }
}
</script>

<style lang="scss" scoped>
  .passkey {
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 18px;
    border:#7e6cda 1px solid;
  }
  .passbutt {
    padding: 5px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #7e6cda;
    color: whitesmoke;
  }
  .join {
    padding: 1vw;
    margin: 1vw;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: none;
  }
  .twitch {
    background-color: #6441a5;
  }
  .youtube {
    background-color: #c4302b;
  }
  .all {
    background-color: #777;
  }
  button {
    cursor: pointer;
  }
</style>