<template>
  <div class=log-viewer>
     <h1>Hello!</h1>
     <h2>준비중입니다.</h2>
  </div>
</template>

<script>
import axios from 'axios'
import uuid from 'uuid/v4'
import socket from 'socket.io-client'

export default {
  name: 'Log',
  data() {
    return {
    }
  },
  methods: {
    resetSession() {
      this.$store.dispatch(`resetSession`);
    },
  },
  computed: {
    getSession() {
      return this.$store.getters.getSession;
    }
  },
  mounted() {
    if(!this.getSession) this.$router.push({path: `/`});
  }
}
</script>

<style lang="scss" scoped>
  .log-viewer {
    text-align: center;    
  }
</style>