<template>
  <div class="passive-manage">
      <div>
        <h3>
          자동 활동 관리자
        </h3>
        <table class="config">
          <tr>
            <th style="width:4%;min-width:39px;">#</th>
            <th style="width:4%;">규칙 공개</th>
            <th style="width:4%;">활성화</th>
            <th style="width:10%;">플랫폼</th>
            <th style="width:10%;">발동 주기(초)</th>
            <th style="width:68%;">채팅 내용</th>
          </tr>
          <tr v-for="(item, index) in rules" :key="item.id">
            <td v-if="index==0"><a class="mdf-button add" v-on:click="addRule">추가</a></td>
            <td v-else><a class="mdf-button del" v-on:click="removeRule(index)">삭제</a></td>
            <td><input v-model="rules[index].public" type="checkbox" name="condition-public" class="styled-checkbox" :id="`ch${2*index}`">
              <label :for="`ch${2*index}`"></label>
            </td>
            <td><input v-model="rules[index].active" type="checkbox" name="condition-passive" class="styled-checkbox" :id="`ch${2*index+1}`">
              <label :for="`ch${2*index+1}`"></label>
            </td>
            <td>
              <select v-on:change="adderUpdated(index)" v-model="rules[index].platform" name="condition-platform">
                <option value="1">트위치</option>
                <option value="2">유튜브</option>
                <option value="3">유튜브/트위치</option>
              </select>
            </td>
            <td>
              <input v-on:change="adderUpdated(index)" v-model="rules[index].detail.period" type="number" name="condition-period" style="width:50%;">
            </td>
            <td>
              <textarea v-on:change="adderUpdated(index)" v-model="rules[index].detail.action" name="action-text" style="display:table-cell; width:90%"/>     
            </td>         
          </tr>
          <tr v-if="rules.length<2">
            <td colspan="6">저장된 규칙이 없습니다.</td>
          </tr>
        </table>
        <a v-on:click="submitter" class="mdf-button save">저장</a>
      </div>
      <h5 v-show="err">{{err}}</h5>
  </div>
</template>

<script>
import axios from 'axios'
import uuid from 'uuid/v4'

export default {
  name: 'Active',
  data() {
    return {
      rules: [],
      err: null,
      newRule: {
        public: true,
        active: true,
        platform: '3',
        id: '',
        type:'passive',
        detail: {
          period: 300,
          action: `Hello!`,
        }
      }
    }
  },
  methods: {
    submitter: function() {
      axios.post('/api/passive/set', {ssid: this.getSession,rules: this.rules.slice(1)})
      .then(_ => this.err = _.data.success)
      .catch(_ => {
        if(_.response && _.response.status === 401)
          this.resetSession();
        
        else this.err = `알 수 없는 오류입니다. x_X`
      });
    },
    resetSession() {
      this.$store.dispatch(`resetSession`);
    },
    adderUpdated(index) {
      const referedRule = (index == null) ? this.newRule : this.rules[index]; 
      if(referedRule.detail.action.length > 200) {
        if(referedRule.platform&2)
          this.err = `200자를 초과하는 채팅은 유튜브에 표시되지 않을 수 있습니다.`;
        else if(referedRule.detail.action.length > 500)
          this.err = `500자를 초과하는 채팅은 모든 플랫폼에 표시되지 않을 수 있습니다.`;
      }
      else if(referedRule.detail.action.length == 0) {
          referedRule.detail.action = `Hello!`
          return this.err = `채팅시 빈 칸은 입력할 수 없습니다.`;
      }
      else if(isNaN(referedRule.detail.period)) 
        return this.err = `올바른 주기를 입력해 주세요.`;
          
      else if(referedRule.detail.period < 10) {
        referedRule.detail.period = 10;
        return this.err = `주기는 최소 10초 이상으로 설정해 주세요.`;
      }
      else this.err = '';
    },
    addRule() {
      this.rules.push(this.rules.shift());
      this.newRule.id = uuid();
      this.rules.unshift(JSON.parse(JSON.stringify(this.newRule)));
    },
    removeRule(index) {
      this.rules.splice(index, 1);
    }
  },
  computed: {
    getSession() {
      return this.$store.getters.getSession;
    }
  },
  beforeMount() {
    if(!this.getSession) this.$router.push({path: `/`});
    this.rules = [];
    this.newRule.id = uuid();
    this.rules.push(JSON.parse(JSON.stringify(this.newRule)));
    axios.post(`/api/passive/get`, {ssid: this.getSession})
      .then(_ => {
        this.rules = this.rules.concat(_.data);
      })
      .catch(_ => {
        if(_.response && _.response.status === 401)
          this.resetSession();
        
        else this.err = `알 수 없는 오류입니다. x_X`
      });
  }
}
</script>

<style lang="scss" scoped>
  textarea {
    width: 100%;
    resize: none;
  }
</style>